:root {
    --lightRed: #E94959;
    --black: #262626;
    --grey: #595959;
    --lightGrey: #bfbfbf;
    --lighterGrey: #FBFBFB;
    --darkBlack: #2B2B2B;
    --white: #FFFFFF;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
}

html {
    box-sizing: content-box;
    scroll-behavior: smooth;
    background-color: var(--lighterGrey)
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kanit', sans-serif;
}


/*--Nav--*/

nav {
    font-size: var(--normal-font-size);
    display: flex;
    height: 8vh;
    box-shadow: 0px 5px 10px 0px var(--lightGrey);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--white);
}

nav a {
    text-decoration: none;
    color: var(--black);
}

.acad-icon {
    height: var(--normal-font-size);
}

.desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width:1100px) {
    .desktop-menu {
        display: none;
    }
}

.nav-anchors {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-left: 20vw;
}

.mobile-menu {
    display: none;
}

@media (max-width:1100px) {
    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 20vw;
    }
}

.nav-end-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-home {
    color: var(--lightRed);
}

.nav-a {
    color: var(--black);
}

.nav-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 20vw;
    width: var(--normal-font-size);
}

.cart-bag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.count {
    position: relative;
    right: 12px;
    top: 8px;
    font-size: var(--smaller-font-size);
    padding: 1px 4px;
    border-radius: 24px;
    background-color: var(--black);
    color: var(--white);
}


/*--Header--*/

header {
    margin: 2vh 20vw;
    font-size: 20px;
    display: flex;
    height: 88vh;
}

@media (max-width:820px) {
    header {
        height: 100%;
    }
}

.header-container {
    display: flex;
    gap: 70px;
}

@media(max-width:820px) {
    .header-container {
        flex-direction: column-reverse;
        gap: 20px;
    }
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

@media (max-width:820px) {
    .header-info {
        width: 100%;
    }
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--black)
}

@media(max-width:820px) {
    h1 {
        margin-top: 0;
    }
}

#price {
    color: var(--lightRed);
    margin-bottom: 50px;
    font-size: var(--h2-font-size);
}

.header-info p {
    color: var(--grey);
    font-size: var(--normal-font-size);
}

.header-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-buttons a {
    padding: 16px 24px;
    background-color: var(--lightGrey);
    text-decoration: none;
    color: var(--black);
    transition: .3s;
    font-size: var(--h3-font-size);
}

@media (max-width:600px) {
    .header-buttons a {
        font-size: var(--small-font-size)
    }
}

.header-buttons a:hover {
    background-color: var(--grey);
    color: var(--lightGrey)
}

.header-buttons button {
    background-color: var(--darkBlack);
    padding: 20px 32px;
    transition: .3s;
    color: #FFF;
    border: none;
    font-size: var(--h2-font-size);
}

@media (max-width:600px) {
    .header-buttons button {
        font-size: var(--small-font-size)
    }
}

.cart-button:hover {
    background-color: var(--lightRed);
    cursor: pointer;
}

.header-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--lightRed);
    transition: 1s;
}

@media(max-width:820px) {
    .header-image {
        justify-content: center;
        margin-top: 2.5rem
    }
}

.header-image img {
    transition: 1s;
    width: 30vw;
    min-width: 30vw;
}

@media(max-width:1350px) {
    .header-image img {
        width: 100%;
        transition: 0.3s;
        min-width: 300px;
    }
}


/*--Main--*/

main {
    margin: 3vh 20vw;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.product-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width:1050px) {
    .product-filters {
        flex-direction: column;
    }
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media(max-width:1050px) {
    .top-row {
        gap: 1.5rem
    }
}

.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media(max-width:1050px) {
    .bottom-row {
        gap: 1.5rem
    }
}

@media (max-width:1050px) {
    .bottom-row {
        padding-top: 1rem;
    }
}

.product-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-right: 2px solid var(--lightGrey);
    padding: 0 3.4vw;
}

@media (max-width:1050px) {
    .product-items {
        display: grid;
        padding: 0;
        border: none;
        width: 30vw
    }
}

.top-fc {
    padding-left: 0;
}

.bot-lc {
    border: none;
}

.article-hoodies,
.article-shirts,
.article-sweatshirts {
    border-radius: 10px;
    background-color: var(--lightGrey);
}

h3 {
    font-size: var(--h3-font-size);
    color: var(--black);
    margin-top: 0;
}

main h3 {
    text-align: center;
}

.product-items p {
    font-size: var(--small-font-size);
    color: var(--grey);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
}

@media (max-width:1050px) {
    .articles-container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
}

.hide {
    display: none;
}

.article-img {
    width: 12rem;
    margin: 5px;
}

.article-img img {
    width: 12rem;
    min-width: 12rem;
}

.article-add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--white);
    font-size: var(--h2-font-size);
    padding: .3rem .8rem;
    border-radius: 50%;
    position: relative;
    top: 1.2rem;
    bottom: -3.35rem;
    left: 10rem;
    border: none;
    color: var(--black);
    box-shadow: 0 4px 12px 0px var(--grey);
    transition: .3s;
}

.article-add:hover {
    background-color: var(--lightRed);
    cursor: pointer;
}

.article-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0;
    flex-direction: column;
    background-color: var(--white);
    overflow: hidden;
    padding-left: 1rem;
}

h2 {
    font-size: var(--h2-font-size);
}

.article-separator,
.cart-separator {
    width: 2px;
    background-color: var(--lightGrey);
    height: 1rem;
}

.article-price-stock {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    color: var(--black);
    margin-top: 1rem;
}

.article-price-stock p {
    font-size: var(--normal-font-size);
    color: var(--grey)
}

.article-name {
    color: var(--black);
    margin-top: 0;
    font-size: var(--h3-font-size)
}


/*cart section*/

section {
    margin: 0 20vw;
}

.my-cart {
    text-align: center;
}

.cart-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.empty {
    flex-direction: column;
    text-align: center;
}

.full {
    border: 1px solid var(--grey);
    padding: 10px 30px;
    margin: .5vw
}

.cart-content img {
    height: 100%;
}

.cart-content h2,
.cart-content p {
    margin-top: 0;
}

.cart-content p {
    color: var(--grey)
}

.cart-items-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:480px) {
    .cart-items-price {
        justify-content: space-between;
        padding-top: 1rem;
    }
}

.cart-subtotal-hoodies,
.cart-subtotal-shirts,
.cart-subtotal-sweatshirts {
    padding-top: .5rem;
    margin: 0
}

.subtotal-items {
    padding-top: 1rem;
}

.checkout-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkout-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--lightGrey);
    border: 0px solid var(--lightGrey);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.checkout-button button:hover {
    background-color: var(--lightRed);
    transition: .3s;
    color: var(--white);
    cursor: pointer;
}

.cart-img img {
    width: 150px
}

.cart-info {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.cart-stock-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem
}

.cart-stock-price p {
    margin: 0;
}


/*Footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGrey);
    flex-direction: column;
    margin-top: 5vh;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: top;
    margin: 15vh 20vw;
    width: 100%;
}

@media (max-width:480px) {
    .footer-container {
        flex-direction: column;
        gap: 3rem;
        padding-left: 3rem;
    }
}

.footer-content {
    display: flex;
    justify-content: top;
    align-items: top;
    flex-direction: column;
}

.footer-content p {
    margin: 0;
    color: var(--grey);
}

.footer-content a {
    text-decoration: none;
    color: var(--grey);
    margin-bottom: 10px
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    background-color: var(--black);
    padding: 10px;
    border-radius: 50%
}

.footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--smaller-font-size);
    color: var(--grey)
}